.row{
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.col {
    background-color: #01837c;
    color:white;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 10px;
    margin: 10px;

}

.col-2{
    background-color: #01837c;
    color:white;
    display: flex;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.col-3{
    background-color: #01837c;
    color:white;
    display: flex;
    flex: 3;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 10px;
    margin: 10px;
}
